body {
    background-color: #1ed966;
}
h1 {
    color:#0a6f0a;
    font-family: sans-serif;
    text-align: center;
    font-size: 72pt;
}
a:link {
    color: #e4fd00;
}
a:visited {
    color:darkslateblue;
}
a:hover {
    color:dimgray;
}
a {
    text-decoration: none;
    font-size: 30pt;
}